<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8" />
        <title>Neo-Natal Mortality Rate India 2011</title>

        <link rel="stylesheet"
        href="http://leaflet.cloudmade.com/dist/leaflet.css" />
        <script src="http://leaflet.cloudmade.com/dist/leaflet.js"
        type="text/javascript"></script>
        <script type="text/javascript" src="heatcanvas.js"></script>
        <script type="text/javascript" src="heatcanvas-leaflet.js"></script>

        <style type="text/css">
            #map{
            }
        </style>

        <script type="text/javascript">
            function init(){
              var map = new L.Map("map");
              var markerLayers = new L.LayerGroup();
                var cloudmadeUrl =
              'http://{s}.tile.cloudmade.com/8ee2a50541944fb9bcedded5165f09d9/997/256/{z}/{x}/{y}.png',
                    cloudmadeAttrib = 'Map data &copy; 2011 OpenStreetMap
              contributors, Imagery &copy; 2011 CloudMade',
                    cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18,
              attribution: cloudmadeAttrib});
                map.addLayer(cloudmade);

                map.setView(new L.LatLng(40, -90), 3);                
                var heatmap = new L.TileLayer.HeatCanvas({},{'step':0.5,
                'degree':HeatCanvas.LINEAR, 'opacity':0.7});
            var data = {{data}};


                for(var i=0,l=data.length; i<l; i++) {
                    heatmap.pushData(data[i][0], data[i][1], data[i][2]);
                    if(data[i][2]> 20) {
                        var marker = new L.Marker(new L.LatLng(data[i][0],
                data[i][1]));
                        marker.bindPopup(data[i].toString());
                        markerLayers.addLayer(marker);
                    }
                }
                map.addLayer(heatmap);
                map.addLayer(markerLayers);
                L.control.layers({"heatmap":heatmap, "markers":
                markerLayers}).addTo(map);

            }
        </script>
    </head>

    <body onload="init();">
        <div>
	  <p><h1>Neo-Natal Mortality Rate India 2011</h1></p>
        </div>
        <div id="map" style="width:850px; height:500px;"></div>
    </body>
</html>
